<ul class='section'>
<li class='knowledgebase section-title'>
<a href='/namati-wiki/knowledgebase' id='sidebar-section-knowledgebase'>
<i class=''></i>
Knowledgebase
</a>
<li class='knowledgebase subsection-container'>
<ul class='subsection'>
<li class='subsection-title'>
<a href='/namati-wiki/knowledgebase#membersupport' id='sidebar-knowledgebase-membersupport'>Membersupport</a>
</li>
<li>
<a href='/namati-wiki/activate-user-account-on-behalf-of-a-new-member'>Activate user account on behalf of a new member</a>
</li>
<li>
<a href='/namati-wiki/new-member-onboarding-procedure'>New Member Onboarding: Procedure</a>
</li>
<li>
<a href='/namati-wiki/review-existing-member-and-organization-profiles-that-are-flagged-or-needing-improvement'>Review existing Member and Organization profiles that are flagged or needing improvement</a>
</li>
<li>
<a href='/namati-wiki/using-forum-as-ticket-system-so-no-balls-are-dropped-woman-juggling'>Using forum as ticket system - so no balls are dropped! :woman_juggling:</a>
</li>
<li>
<a href='/namati-wiki/procedure-deleting-a-member'>Procedure: Deleting a member</a>
</li>
<li>
<a href='/namati-wiki/handle-messages-received-in-community-namati-org-mailbox'>Handle messages received in community@namati.org mailbox</a>
</li>
<li>
<a href='/namati-wiki/help-member-add-their-organization-to-the-network-directory-procedure'>Help member add their organization to the Network directory: procedure</a>
</li>
<li>
<a href='/namati-wiki/procedure-change-a-network-members-username-wordpress-and-discourse'>Procedure: Change a network member&#39;s username (wordpress and discourse)</a>
</li>
<li>
<a href='/namati-wiki/new-member-and-organization-cleanup-in-wordpress-and-salesforce'>New Member and Organization cleanup in WordPress and Salesforce</a>
</li>
<li>
<a href='/namati-wiki/check-mandrill-outbound-mail-server-logs-for-bounces-or-unusual-messages'>Check Mandrill outbound mail server logs for bounces or unusual messages</a>
</li>
<li>
<a href='/namati-wiki/fixing-nicenames-when-page-not-found-message-displayed-instead-of-profile-procedure'>Fixing nicenames (when page not found message displayed instead of profile): Procedure</a>
</li>
<li>
<a href='/namati-wiki/steps-for-merging-member-and-organization-accounts-in-wordpress-discourse-and-salesforce'>Steps for merging member and organization accounts in wordpress, discourse and salesforce</a>
</li>
<li>
<a href='/namati-wiki/invite-members-with-dormant-accounts-to-return-to-network-q2-2018'>Invite members with dormant accounts to return to network (Q2 2018)</a>
</li>
<li>
<a href='/namati-wiki/follow-up-with-email-subscribers-who-mark-us-as-spammers'>Follow up with email subscribers who mark us as spammers</a>
</li>
<li>
<a href='/namati-wiki/steps-to-take-when-a-member-email-address-stops-working'>Steps to take when a member email address stops working</a>
</li>
</ul>
</li>
</li>
</ul>
