<ul class='section'>
<li class='community section-title'>
<a href='/namati-wiki/community' id='sidebar-section-community'>
<i class=''></i>
Community
</a>
<li class='community subsection-container'>
<ul class='subsection'>
<li class='subsection-title'>
<a href='/namati-wiki/community#forum' id='sidebar-community-forum'>Forum</a>
</li>
<li>
<a href='/namati-wiki/calendar-mark-your-calendars-every-friday-is-forum-friday'>:calendar: Mark your calendars! Every Friday is FORUM FRIDAY</a>
</li>
</ul>
</li>
</li>
</ul>
